* {
  padding: 0;
  margin: 0;
}

div {
  color: #fff;
  box-sizing: border-box;
}

header {
  width: 100%;
  position: relative;
}

header .headerImg {
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
  padding: 0;
  margin: 0;
  vertical-align: top;


}